<div class="codemargonda-cospace" id="transparent-limit">
    <div class="container">
        <div class="code-content">
            <div class="h1title" style="padding-top: 1em">Code Course Camp</div>
            <div class="code-description">
                <div class="h3title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                </div>
            </div>
            <!--<div class="code-footer">
                <div class="btn btn-default btn-lg outline">Daftar Member</div>
            </div>-->
        </div>

    </div>
</div>

<div class="codemargonda-ccc" style="background-color: #F6F7F2">
    <div class="container">
        <div class="code-content">
            <div class="h1title">Code Course Camp (CCC)</div>
            <div class="code-description">
                <div class="h6title">
                    Kompetisi di luar sana semakin sengit. Kita sebagai generasi muda harus bisa terus berkembang mengikuti zaman dan jangan pernah cepat puas dengan pengetahuan kita!. Nih, untuk kamu yang ingin bisa mempraktikkan ilmu pemrograman kamu lebih lanjut, bisa
                    juga mengikuti CCC atau Code Course Camp. Dengan mengikuti program CCC ini kamu bisa mewujudkan mimpi kamu sebagai programmer handal, bisa mengerjakan projek-projek besar, dan pastinya pengalaman yang seru dan menambah ilmu banget.
                    Cara belajarnya juga berdasarkan project based sehingga sangat applicable belajarnya :D
                    <br><br> Program CCC terdiri dari tiga tingkat (Tenang! Kelasnya disesuaikan dengan kemampuan kamu kok :)



                </div>
                <div class="code-footer">
                    <div class="btn btn-default btn-lg outline " data-toggle="collapse" data-parent="#accordion" data-target="#collapseAndroid" style="border-color:#c51c1c !important; color: black !important">Android Camp </div>
                    <div class="btn btn-default btn-lg outline " data-toggle="collapse" data-parent="#accordion" data-target="#collapseWeb" style="border-color:#c51c1c !important; color: black !important">WebDev Camp </div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default" id="panel-ccc">
                        <div class="panel-body collapse" id="collapseAndroid">
                            Android (Rabu dan Jumat 19.00 - 21.00) Beginner: 1. Pengenalan Android dan pengenalan struktur IDE 2. Resource pada Android 3. Layout XML 4. Java 5. Activity Lifecycle 6. Fragment Lifecycle 7. Menu pada android 8. Project Aplikasi Matematika (Luas bangun
                            datar) Intermediate: 1. Implementasi GIT 2. Android Material Design 3. Shared Preferences 4. SQLite 5. Recycler View(List, Grid) 6. Konsep API 7. Penggunaan Retrofit untuk konektivitas internet service Advance (Coming soon)

                        </div>
                        <div class="panel-body collapse" id="collapseWeb">
                            Web (Senin dan Selasa 19.00 - 21.00) Beginner: 1. Pengenalan Web, Web Resources 2. Pengenalan dan pemahaman CSS 3. Pengenan dan pemahaman Javascript 4. JQuery 5. Implementasi Bootstrap, CSS, Componen, JS 6. Bower, NPM, Git 7. Pengenalan, Pemahaman Implementasi
                            PHP 8. Final Project Intermediate: 1. Pengenalan dan pemahaman MySQL dan Query data 2. Pendalaman OOP dan MVC pattern 3. Database dengan Code Igniter 4. Implementasi Git 5. Penerapan Bootstrap pada Code Igniter dengan bower
                            6. Validation, Security dan Session Management 7. Final Project 1 8. Final Project 2 Up to Server Advance (Coming soon)

                        </div>
                    </div>
                </div>

                <div class="code-footer">
                    <div class="h4title">Keterangan : </div>
                    <div class="row" id="keterangan-ccc">
                        <div class="col-md-6 col-sm-6 col-sm-12">
                            <div class="h5title">Jumlah pertemuan:</div> 12 x @ 2 jam.<br>
                            <div class="h5title">Biaya pendaftaran:</div> Rp 15.000 <br>
                            <div class="h5title">Biaya Kursus</div>
                            <ul>
                                <li> Beginner: Rp 1.000.000 (mahasiswa/pelajar) || Rp 1.500.000 (umum) (*)</li>
                                <li>Intermediate: Rp 1.700.000 (akan ada penawaran khusus kalau kamu bawa 10 teman kamu) </li>
                                <li>Advance (Coming soon)</li>
                            </ul>*bisa dicicil
                        </div>
                        <div class="col-md-6 col-sm-6 col-sm-12">
                            <div class="h5title">Keuntungan:</div> Materi yang up to date, minuman, tools pendukung, goodie bag, e-certificate, konsultasi dengan pengajar dan terabung dalam komunitas Code Margonda. <br><br> Yuk, gabung di Code Margonda! Untuk informasi lebih
                            lanjut hubungi : <br> 0856 1915 500 atau codemargonda@gmail.com

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>