<div class="codemargonda-cospace" id="transparent-limit">
    <div class="container">
        <div class="code-content">
            <div class="h1title" style="padding-top: 1em">Acara</div>
            <div class="code-description">
                <div class="h3title">
                    Mulai berkolaborasi dan Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                </div>
            </div>
            <!--<div class="code-footer">
                <div class="btn btn-default btn-lg outline">Daftar Member</div>
            </div>-->
        </div>

    </div>
</div>

<div class="codemargonda-event-room">
    <div class="container">
        <div class="code-content">
            <div class="h2title" style="padding-top: 1em">Ruang Pertemuan</div>
            <div class="code-description">
                <div class="h3title">
                    Booking ruangan sekarang juga untuk berbagai kegiatan bisnis/ non-bisnis anda.
                </div>
            </div>
            <div class="slider" id="slider-slick">
                <div>
                    <img src="../../assets/img/room-1.jpg" />
                </div>
                <div>
                    <img src="../../assets/img/room-2.jpg" />
                </div>
                <div>
                    <img src="../../assets/img/room-3.jpg" />
                </div>
                <div>
                    <img src="../../assets/img/room-4.jpg" />
                </div>
                <div>
                    <img src="../../assets/img/room-5.jpg" />
                </div>
            </div>

            <div class="code-footer">
                <a routerLink="booking">
                    <div class="btn btn-default btn-lg outline " style="border-color:#c51c1c !important; color: black !important">Booking Ruangan </div>
                </a>

            </div>
        </div>
    </div>

</div>

<div class="codemargonda-event-list">
    <div class="container">
        <div class="code-content">
            <div class="h2title" style="padding-top: 1em">Kalender Code</div>
            <div class="code-description">
                <div class="h3title">
                    Berbagai event seru!
                </div>
            </div>

        </div>
    </div>

</div>

<div class="codemargonda-galeri">
    <div class="container">
        <div class="code-content">
            <div class="h2title" style="padding-top: 1em">Galeri Codemargonda</div>
            <div class="code-description">
                <div class="h3title">
                    Yuk intip berbagai galeri Codemargonda!
                </div>


                <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                    <!-- The container for the modal slides -->
                    <div class="slides"></div>
                    <!-- Controls for the borderless lightbox -->
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>

                    <ol class="indicator"></ol>
                </div>
                <div id="links" class="container-gallery">
                    <a href="../../assets/img/gallery/codemargonda-1.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-1_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-2.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-2_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-3.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-3_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-4.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-4_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-5.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-5_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-6.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-6_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-7.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-7_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-8.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-8_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-9.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-9_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-10.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-10_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-11.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-11_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-12.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-12_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-13.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-13_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-14.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-14_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-15.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-15_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-16.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-16_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-17.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-17_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-18.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-18_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-19.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-19_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-20.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-20_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                    <a href="../../assets/img/gallery/codemargonda-22.jpg" title="Codemargonda">
                        <img src="../../assets/img/gallery/thumbnails/codemargonda-22_tn.jpg" alt="Codemargonda" class="gallery-thumbnail">
                    </a>
                </div>


            </div>

        </div>
    </div>

</div>