<div class="codemargonda-checkout" id="transparent-limit">
    <div class="container">
        <div class="code-content">
            <div class="h2title" style="padding-top:1em">Pembayaran Detail Layanan</div>
            <div class="row" id="check-out-panel">
                <div class="col-md-6 col-sm-6 col-xs-12 col-centered">
                    <div class="panel panel-default check-out-panel">
                        <div class="panel-heading" id="checkout-title">Rincian Layanan</div>
                        <div class="panel-body">

                        </div>
                        <div class="panel-heading" id="checkout-title">Billing Information</div>
                        <div class="panel-body">
                        </div>

                        <div class="panel-body">
                            <div class="btn btn-success">Bayar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>