<!--Carousel-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="./assets/img/Home-Slider.jpg" alt="Codemargonda">
            <div class="carousel-caption">
                <div class="h1title" style="color: #F6F7F2;letter-spacing: 1px"> Selamat Datang di Code Margonda </div>
            </div>
        </div>
        <div class="item">
            <img src="./assets/img/Tentang-Kami.jpg" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="codemargonda-about" id="transparent-limit">
    <div class="container">
        <div class="code-content">
            <div class="h1title">Code Margonda</div>
            <div class="code-description">
                <div class="h3title">
                    Code Margonda adalah salah satu coworking space yang ada di Indonesia, tepatnya di Depok. Dengan fokus di bidang teknologi, kami bermimpi untuk menghasilkan developer terbaik di Indonesia. Maka dari itu kami memiiki komunitas teknologi yang bernama Margodev+.
                </div>
            </div>
            <div class="code-footer">
                <div class="h4title">
                    Follow Our Social Media!
                </div>
                <div class="socmed">
                    <i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
                    <i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="codemargonda-cospace">
    <div class="container">
        <div class="code-content">
            <div class="h1title">Codemargonda Coworkingspace</div>
            <div class="code-description">
                <div class="h3title">
                    Coworking space adalah tempat bekerja untuk semua orang, mulai dari profesional sampai mereka yang baru ingin belajar. Di sini semua orang diharapkan untuk dapat bekerja sama dalam bertukar pikiran dan berinteraksi untuk mengembangkan ide mereka tanpa
                    adanya batasan. Dengan tidak adanya batasan tersebut semua orang yang berada di coworking space memiliki cara bekerja dan waktu bekerja yang fleksibel.

                </div>
            </div>
            <div class="code-footer">
                <div class="btn btn-default btn-lg outline">Daftar Member</div>
            </div>
        </div>

    </div>
</div>

<div class="codemargonda-event">
    <div class="container">
        <div class="code-content">
            <div class="h1title">Event Partner</div>
            <div class="code-description">
                <div class="h3title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </div>
            </div>

        </div>

    </div>
</div>


<!-- <div class="codemargonda-contact" style="height:300px;background-color:#E7E7E7;font-size:36px">
        Contact
    </div>-->