<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a href="#"><img id="navbar-logo" src="./assets/img/Logo-White-Trans.png" alt="Logo Code Margonda"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink=""><i class="fa fa-home" aria-hidden="true"></i><span style="padding-left: 5px"></span>BERANDA</a></li>
                <li><a routerLink="about"><i class="fa fa-info-circle" aria-hidden="true"></i><span style="padding-left: 5px"></span>TENTANG KAMI</a></li>
                <li><a routerLink="program"><i class="fa fa-star" aria-hidden="true"></i><span style="padding-left: 5px"></span>PROGRAM</a></li>
                <li><a routerLink="ccc"><i class="fa fa-terminal" aria-hidden="true"></i><span style="padding-left: 5px"></span>CCC</a></li>
                <li><a routerLink="event" id="event-menu"><i class="fa fa-ticket" aria-hidden="true"></i><span style="padding-left: 5px"></span>ACARA</a></li>
                <li><a routerLink="users"><i class="fa fa-sign-in" aria-hidden="true"></i><span style="padding-left: 5px"></span>LOGIN</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<router-outlet></router-outlet>

<div class="codemargonda-footer">
    <div class="container">
        <img src="./assets/img/Logo-White-Trans.png" style="height:120px">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="h6title" id="titlelistfooter">BERANDA</div>
                    <ul class="list-unstyled">
                        <li>Code Margonda </li>
                        <li>Coworking Space</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="h6title" id="titlelistfooter">TENTANG KAMI</div>
                    <ul class="list-unstyled">
                        <li>Tentang Code </li>
                        <li>Alamat </li>
                        <li>Kontak </li>
                        <li>Partner </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="h6title" id="titlelistfooter">ANGGOTA</div>
                    <ul class="list-unstyled">
                        <li>Operasional</li>
                        <li>Fasilitas</li>
                        <li>Harga </li>
                        <li>Cara Daftar </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="h6title" id="titlelistfooter">PROGRAM</div>
                    <ul class="list-unstyled">
                        <li>Margodev+ Seminar </li>
                        <li>Margodev+ Workshop</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="h6title" id="titlelistfooter">CCC</div>
                    <ul class="list-unstyled">
                        <li>Apa Itu CCC? </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="h6title" id="titlelistfooter">ACARA</div>
                    <ul class="list-unstyled">
                        <li>Ruang Pertemuan </li>
                        <li>Kalender </li>
                        <li>Galeri </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Row-->
        <hr class="divider-row">
        <div class="row">
            <div class="col-md-4">
                <div class="h6title" id="copy-footer">Copyrigth &copy; 2017</div>
            </div>
            <div class="col-md-8">
                <div class="socmed pull-right" id="socmed-footer">
                    <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </div>
            </div>
        </div>

    </div>
</div>