<div class="codemargonda-cospace" id="transparent-limit">
    <div class="container">
        <div class="code-content">
            <div class="h1title" style="padding-top: 1em">Tentang Codemargonda</div>
            <div class="code-description">
                <div class="h3title">
                    Code Margonda adalah salah satu coworking space yang ada di Indonesia, tepatnya di Depok. Dengan fokus di bidang teknologi, kami bermimpi untuk menghasilkan developer terbaik di Indonesia. Maka dari itu kami memiiki komunitas teknologi yang bernama Margodev+.

                </div>
            </div>
            <div class="code-footer">
                <div class="btn btn-default btn-lg outline">Daftar Member</div>
            </div>
        </div>

    </div>
</div>

<div class="codemargonda-about" style="background-color: #F6F7F2">
    <div class="container">
        <div class="code-content">
            <div class="h1title">Lokasi</div>
            <div class="code-description" style="text-align: left">
                <div class="row">


                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="h4title">Alamat</div>
                        <div class="h3title">Ruko Veneta Lantai 2 </div>
                        <div class="code-alamat">
                            Jl Margonda Raya No.349, Kemiri Muka, Beji, Kota Depok, Jawa Barat<br> 16424, Indonesia
                        </div>
                        <div class="code-contact">
                            <i class="fa fa-envelope" aria-hidden="true" style="padding-right: 5px"></i>Email: codemargonda@gmail.com
                            <br>
                            <i class="fa fa-phone" aria-hidden="true" style="padding-right: 5px"></i>Telp +62 21-227-10912
                            <br>
                            <i class="fa fa-mobile-phone" aria-hidden="true" style="padding-right: 5px"></i>0856-1915-500
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="google-maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.1576077900595!2d106.8301485142422!3d-6.373644395387963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ec0f022634cd%3A0xa183f97da7b2e742!2sCode+Margonda!5e0!3m2!1sen!2sid!4v1491097973851"
                                width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="code-footer">
                <div class="h4title">
                    Follow Our Social Media!
                </div>
                <div class="socmed">
                    <i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
                    <i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="codemargonda-partner">
    <div class=" container">
        <div class="code-content">
            <div class="code-img-circle">
                <img src="../../assets/img/CodeMargonda-Circle.png">
            </div>
            <div class="h1title" style="color: #E01931">Partner</div>
            <div class="code-img-partner">

                <img id="bank-bca" src="../../assets/img/Logo-Partner-Bank-BCA.png">
                <img id="bank-indonesia" src="../../assets/img/Logo-Partner-Bank-Indonesia.png">
                <img id="coworking-indonesia" src="../../assets/img/Logo-Partner-Coworking-Indonesia.png">
            </div>
        </div>
    </div>
</div>